<%- include ('../layouts/adminheader.ejs') %>

<div class="container p-3 mb-5 bg-secondary rounded col-lg-8 col-8 mt-5">
  <form
    action="/admin/add-product"
    method="post"
    id="form1"
    enctype="multipart/form-data"
  >
    <div class="container bg-white p-4 mb-4">
      <div class="form-outline mb-3">
        <label for="MultipleFile" 
               class="form-label">
               Product Images
        </label>
        <input class="form-control" 
               type="file"  name="images" required multiple >
    </div>
    </div>
    <div class="container bg-white p-4 mb-4">
      <div class="form-outline mb-4">
        <label class="form-label" for="name">Product Name</label>
        <div class="input-group form-outline mb-4">
          <input type="text" id="name" name="name" class="form-control " placeholder="Enter a name for your product..." required/>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-4">
        <label class="form-label" for="price">Price</label>
        <input type="number" class="form-control" aria-label="price" aria-describedby="price" name="price" placeholder="0.00" min="0" required>
      </div>
      <div class="col-4">
        <label class="form-label" for="text">Brand</label>
        <input type="text" class="form-control" aria-label="text" aria-describedby="text" name="text" placeholder="Brand Name..." required>
      </div>
      <div class="col-4">
        <label class="form-label" for="color">Color</label>
        <select class="form-control border-secondary col-12 text-lg" name="color">
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="White">White</option>
            <option value="Black">Black</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
          </select>
      </div>
         
    </div>
    <div class="form-outline mb-4">
      <label class="form-label">Category</label>
      <br>
      <select class="form-control border-secondary col-12 text-lg" name="category">
      <%for(i=0;i<cat.length;i++){%>
        <option value="<%=cat[i].name%>,<%=cat[i].sub%>"><%=cat[i].name%>,<%=cat[i].sub%> </option>
        <%}%>
      </select>
    </div>
    <p class="form-label"><u>Quantity Per Size</u></p>
    <div class="row mb-4">
      <div class="col-4 px-0">
        <div class="row mb-3 ml-2">
          <label for="xs" class="col-lg-3 col-md-4 col-sm-6 col-form-label">XS</label>
          <div class="col-lg-5 col-sm-5 px-0">
            <input type="number" class="form-control" id="xs" name="xs" min="0" value="0">
          </div>
    </div>
    </div>
    <div class="col-4 px-0">
      <div class="row mb-3">
        <label for="s" class="col-lg-3 col-md-4 col-sm-6 col-form-label">S</label>
        <div class="col-lg-5 col-sm-5 px-0">
          <input type="number" class="form-control" id="s" name="s" min="0" value="0">
        </div>
        </div>
        </div>
        <div class="col-4 px-0">
          <div class="row mb-3">
            <label for="m" class="col-lg-3 col-md-4 col-sm-6 col-form-label">M</label>
            <div class="col-lg-5 col-sm-5 px-0">
              <input type="number" class="form-control" id="m" name="m" min="0" value="0">
            </div>
</div>
</div>
<div class="col-4 px-0">
  <div class="row mb-3 ml-2">
    <label for="l" class="col-lg-3 col-md-4 col-sm-6 col-form-label">L </label>
    <div class="col-lg-5 col-sm-5 px-0">
      <input type="number" class="form-control" id="l" name="l" min="0" value="0">
    </div>
</div>
</div>
<div class="col-4 px-0">
  <div class="row mb-3">
    <label for="xl" class="col-lg-3 col-md-4 col-sm-6 col-form-label">XL </label>
    <div class="col-lg-5 col-sm-5 px-0">
      <input type="number" class="form-control" id="xl" name="xl" min="0" value="0">
    </div>
</div>
</div>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="blurb">A Short Description About the Product</label>
        <textarea class="form-control" id="textAreaExample" rows="4" name="blurb" required></textarea>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="details">Details</label>
        <textarea class="form-control" id="textAreaExample" rows="8" name="details" required></textarea>
    </div>
    </div>
  </div>
    <% if (message) { %>
    <p style="color: red; text-align: center"><%= message %></p>
    <% } %>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-3">
        Create
      </button>
    </div>
  </form>
</div>

<%- include ('../layouts/adminfooter.ejs') %>
