<%- include ('../layouts/adminheader.ejs') %>
  <div style="padding: 20px 20px 20px 20px;">
    <table class="table bg-white table-bordered hover" id="dtBasicExample">

      <thead>
        <tr>
          <th width="5%" class="text-center">sl.no</th>
          <th  class="text-center">Name</th>
          <th  class="text-center">Main Category</th>
          <th  class="text-center">Edit</th>
          <th  class="text-center">Delete</th>
        </tr>
      </thead>
      <% for(let i=0;i<cat.length;i++){ %>
        <tr>
          <td class="text-center">
            <%=i+1%>
          </td>
          <td>
            <%if(cat[i].sub){%>
              <%=cat[i].sub%>
                <%}else{%>
                  <%=cat[i].name %>
                    <%}%>
          </td>
          <td>
            <%=cat[i].name %>
          </td>
          <td class="text-center">
            <a href="/admin/category/edit?name=<%=cat[i].name %><%if(cat[i].sub){%>&sub=<%=cat[i].sub%><%}%>"
              class="btn btn-primary px-4">Edit</a>
              </td>
              <td class="text-center">
            <button type="button" class="btn text-light" style="background-color: rgb(122, 52, 52);" onclick="redirectToPage('<%=cat[i]._id%>', '<%=cat[i].name%>', '<%=cat[i].sub%>')" <% if
              (items[i]) { %>disabled<% } %> class="btn text-light">Delete</button>
            <script>
                function redirectToPage(id,name,sub) {
                  // Redirect to a specific page with the category ID
                  if(!sub){
                    window.location.href = `/admin/category/delete?id=${id}&name=${name}`;
                    }else{
                    window.location.href = `/admin/category/delete?id=${id}&name=${name}&sub=${sub}`
                    }
                  
                }
              </script>
          </td>
        </tr>
        <%}%>
    </table>
  </div>



  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>


        <script>
          new DataTable('#dtBasicExample',{
            "lengthMenu": [5, 10, 25, 50], // Change the options as per your requirement
                "pageLength": 5, 
          }
   );
        </script>
  <%- include ('../layouts/adminfooter.ejs') %>