<%- include ('../layouts/adminheader.ejs') %>
        <!-- PAGE MAIN WRAPPER
================================================== -->
<div style="padding: 20px 20px 20px 20px;">
        <!-- end row -->

                            <table class="table table-bordered bg-white" id="dtBasicExample">
                                <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Remaining coupon</th>
                                        <th >Creation</th>
                                        <th>Expiration</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( let i=0; i < coupon.length; i++ ) { %>
                                        <tr>
                                            <td>
                                                <%=i+1%>
                                            </td>
                                            <td>
                                                <%=coupon[i].couponName%> 
                                                    <a href="/admin/coupon/edit?id=<%=coupon[i].coupon_id%>"
                                                        class="btn border-1 border-primary btn-small p-0 px-2 rounded-pill" style="font-size: 12px !important;">Edit</a>
                                            <td>
                                                <%=coupon[i].couponCode%>
                                            </td>
                                            <td>
                                                <div class="custom-progress bg-blue progress mb-2">
                                                    <div class="animated custom-bar progress-bar slideInLeft fs-6"
                                                        style="width: <%=(totalUses[i] / 30) * 100%>%"
                                                        aria-valuemax="100" aria-valuemin="0" aria-valuenow="10"
                                                        role="progressbar"></div>
                                                </div>
                                                <div class="progress-text fs-6">
                                                    <div>
                                                        <%=coupon[i].quantity%> of <%=totalUses[i]%> coupon remaining
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <%=coupon[i].startDate.toLocaleDateString()%>
                                            </td>
                                            <td>
                                                <%=coupon[i].endDate.toLocaleDateString()%>
                                            </td>
                                            <%if(coupon[i].status==true){%>
                                                <td>
                                                    <a onclick="status('<%=coupon[i]._id%>')"
                                                        class="btn btn-tranparent"><i
                                                            class="fas fa-circle text-success me-2 f-s-10"></i> Active</a>
                                                </td>
                                                <% } else { %>
                                                    <td>
                                                        <a onclick="status('<%=coupon[i]._id%>')"
                                                            class="btn btn-tranparent"><i
                                                                class="fas fa-circle text-danger me-2 f-s-10"></i> Revoked</a>
                                                    </td>
                                                    <%}%>

                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
    </div>


    <!-- ALL JS INCLUDE
================================================== -->
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

    <!-- sweet alert cdn -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
        });
        async function status(id) {
            await axios.post(`/admin/coupon/status?id=${id}`).then(() => {
                Toast.fire({
                    icon: "success",
                    title: "Coupon status updated successfully",
                }).then(() => {
                    location.reload();
                })

            });
        }
    </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
<script>
new DataTable('#dtBasicExample',{
"lengthMenu": [5, 10, 25, 50], // Change the options as per your requirement
  "pageLength": 5, 
}
);
</script>
    <%- include ('../layouts/adminfooter.ejs') %>