<%- include ('../layouts/adminheader.ejs') %>
<div class="container">
  <div class="d-flex align-items-center justify-content-end mb-3">
    <form action="">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by name,email" name="search">
            <div class="input-group-append">
                <button type="submit" class="input-group-text bg-white text-primary">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        </form>
</div>
</div>
  <div  class=" col-lg-12">
    <div style="overflow:auto">
    <table class="table table-bordered bg-white">
      <thead>
        <tr>
          <th width="5%">sl.no</th>
          <th width="20%">Username</th>
          <th width="30%">Email</th>
          <th width="10%">Total Orders</th>
          <th width="10%">Status</th>
          <th width="10%">Joining date</th>
          <th width="10%">Actions</th>
        </tr>
      </thead>
      <tbody>
      <%for(i=0;i<user.length;i++){%>
        <tr>
          <td>
            <%= i+1+(page*5)-5 %>
          </td>
          <td>
            <%=user[i].username %>
          </td>
          <td>
            <%=user[i].email %>
          </td>
          <td>
            <%=user[i].totalOrders %>
          </td>
          <%if(user[i].access){%>
            <td><a class="btn rounded-pill px-4" style="background-color: rgb(109, 222, 188); color:rgb(0, 102, 43)">Active
            </td>
            <%}else{%>
              <td><a class="btn rounded-pill px-3"
                  style="background-color: rgb(255, 99, 99); color:rgb(102, 0, 0)">Blocked</a>
                </td>
              <%}%>
                <td><%=user[i].createdDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'numeric' ,
                    day: 'numeric' });%>
                    </td>
                <td><button type="button" data-user-id="<%= user[i]._id %>" class="block-user btn<% if(user[i].access===false) { %>
                btn-danger <% }else{%> btn-light<%}%>"><%if(user[i].access){%>Unblocked<%}else{%>Blocked<%}%></button>
              </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-12 pb-1">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if (page> 1) { %>
          <li class="page-item">
            <a class="page-link" href="/admin/customer?page=<%= page - 1 %>">&laquo; Previous</a>
          </li>
          <% } %>

            <% for (let i=1; i <=totalPages; i++) { %>
              <% if (i===page) { %>
                <li class="page-item active">
                  <a class="page-link" href="/admin/customer?page=<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/customer?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% } %>

                      <% if (page < totalPages) { %>
                        <li class="page-item">
                          <a class="page-link" href="/admin/customer?page=<%= page + 1 %>">Next &raquo;</a>
                        </li>
                        <% } %>
      </ul>
    </nav>
  </div>
  

  <%- include ('../layouts/adminfooter.ejs') %>