<%- include ('../layouts/adminheader.ejs') %>

<div style="padding: 20px 20px 20px 20px;">
    <div class="container">
        <form action="" >
            <span class="input-group mb-3 justify-content-end" >
            <input type="search" name="search" placeholder="search name,username" >
            <button type="submit" class="search " >&#128269</button>
        </form>
    </div>
         
    <table class="table table-bordered" >
        <thead>
      <tr>
        <th>sl.no</th>
        <th>Username</th>
        <th>Email</th>
        <th>Total Orders</th>
        <th>Status</th>
        <th>Joining date</th>
        <th>Actions</th>
      </tr>
    </thead>
      <%for(i=0;i<user.length;i++){%>
        <tr>
            <td><%= i+1 %></td>
            <td><%=user[i].username %></td>
            <td><%=user[i].email %></td>
            <td><%=user[i].totalOrders %></td>
            <%if(user[i].access===true){%>
            <td><a class="btn rounded-pill" style="background-color: rgb(109, 222, 188); color:rgb(0, 102, 43)">Active</td>
            <%}else{%>
                <td><a class="btn rounded-pill" style="background-color: rgb(255, 99, 99); color:rgb(102, 0, 0)">Blocked</a></td>
                <%}%>
            <td><%=user[i].createdDate.toLocaleDateString('en-US', { 
                year: 'numeric', 
                month: 'numeric', 
                day: 'numeric' 
              });%></td>
            <td><a href="/admin/view-user?id=<%=user[i]._id%>" class="btn btn-primary" style="color:white"style="background-color:rgb(53, 238, 84); color:white">View User</a>
              <a href="/admin/edit-user?id=<%=user[i]._id%>" class="btn" style="background-color:rgb(152, 209, 216); color:white">Edit User</a></td>
        </tr>
        <%}%>  
  </table>
  </div>
  <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center mb-3">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="/admin/customer?">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
  <%- include ('../layouts/adminfooter.ejs') %>