<%- include ('../layouts/adminheader.ejs') %>
<div style="padding: 20px 20px 20px 20px;">
    <table class="table table-bordered bg-white" id="dtBasicExample">
      <thead>
        <tr>
          <th width="5%">SL</th>
          <th >Username</th>
          <th >Email</th>
          <th >Total Orders</th>
          <th>Status</th>
          <th>Joining date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%for(i=0;i<user.length;i++){%>
        <tr>
          <td>
            <%= i+1%>
          </td>
          <td>
            <%=user[i].username %>
          </td>
          <td>
            <%=user[i].email %>
          </td>
          <td>
            <%=user[i].totalOrders %>
          </td>
          <%if(user[i].access){%>
            <td><a class="btn rounded-pill px-4" style="background-color: rgb(109, 222, 188); color:rgb(0, 102, 43)">Active
            </td>
            <%}else{%>
              <td><a class="btn rounded-pill px-3"
                  style="background-color: rgb(255, 99, 99); color:rgb(102, 0, 0)">Blocked</a>
                </td>
              <%}%>
                <td><%=user[i].createdDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'numeric' ,
                    day: 'numeric' });%>
                    </td>
                <td><button type="button" data-user-id="<%= user[i]._id %>" class="block-user btn<% if(user[i].access===false) { %>
                btn-danger <% }else{%> btn-light<%}%>"><%if(user[i].access){%>Unblocked<%}else{%>Blocked<%}%></button>
              </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
  <script>
  new DataTable('#dtBasicExample',{
  "lengthMenu": [5, 10, 25, 50], // Change the options as per your requirement
    "pageLength": 5, 
  }
  );
  </script>
  

  <%- include ('../layouts/adminfooter.ejs') %>