<%- include ('../layouts/adminheader.ejs') %>

  <div style="padding: 20px 20px 20px 20px;">
<div class="container" style="overflow: auto;">
    <table class="table table-bordered bg-white" id="dtBasicExample">
        <thead>
            <tr>
                <th class="text-center" width="8%">Order</th>
                <th class="text-center" width="15%">User</th>
                <th class="text-center" width="15%">Date</th>
                <th class="text-center" width="13%">Status</th>
                <th class="text-center" width="15%">Total</th>
                <th class="text-center" width="15%">Actions</th>
            </tr>
            </thead>
        <%for(i=0;i<order.length;i++){%>
          <tr class="text-center">
            <td>
              <%= i+1 %>
            </td>
            <td><%=order[i].user.username%></td>
            <td>
                <%=order[i].order_date.toLocaleDateString('en-US', { year: 'numeric' , month: 'numeric' ,
                day: 'numeric' });%>
            </td>
            <td><a class="btn rounded-pill<%if(order.order_status=="delivered"){%>btn-success<%}%>" 
              style="background-color:<%if(order[i].order_status=="pending"){%>rgb(255, 238, 88)<%}else if(order[i].order_status=="rejected"||order[i].order_status=="cancelled"){%>rgb(245, 106, 106); color:white;<%}else if(order[i].order_status=="shipped"){%>rgb(161, 189, 253)<%}else if(order[i].order_status=="pay"){%>orange<%}else{%>green; color:white;<%}%>">
              <%=order[i].order_status %>
            </a>
            </td>
            <td>
                <span>&#x20B9;</span><%=order[i].total %>
            </td>
            <td class="px-4"><a class="btn btn-primary btn-block" href="/admin/order/<%=order[i].order_id%>">View</a>
            </td>
          </tr>
          <%}%>
      </table>
</div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>




        <script>
          new DataTable('#dtBasicExample',{
            "lengthMenu": [5, 10, 25, 50], // Change the options as per your requirement
                "pageLength": 5, 
          }
   );
        </script>

<%- include ('../layouts/adminfooter.ejs') %>