<%- include ('../layouts/adminheader.ejs') %>
<div style="padding: 20px 20px 20px 20px;">
          <table class="table table-bordered bg-white" id="dtBasicExample">
      
            <thead>
              <tr>
                <th width="5%" class="text-center">sl.no</th>
                <th width="10%" class="text-center">Image</th>
                <th width="30%" class="text-center">Product Name</th>
                <th width="5%" class="text-center">Quantity</th>
                <th width="20%" class="text-center">Sub Category</th>
                <th width="10%" class="text-center">Category</th>
                <th width="10%" class="text-center">Edit</th>
                <th width="10%" class="text-center">Delete</th>
              </tr>
            </thead>
              <% for(let i=0;i<items.length;i++){ %>
                <tr>
                  <td class="text-center">
                    <%=i+1%>
                  </td>
                  <td>
                   <img src="<%=items[i].productImages[0]%>" alt="" class="ml-3 img-fluid" width="60%"> 
                  </td>
                  <td>
                    <%=items[i].productName %>
                  </td>
                  <td>
                    <%=items[i].quantity %>
                  </td>
                  <td>
                    <%if(items[i].subcategory){%>
                      <%=items[i].subcategory%>
                        <%}else{%>
                          <%=items[i].category %>
                            <%}%>
                  </td>
                  <td>
                          <%=items[i].category %>
                  </td>
                  <td class="text-center">
                    <a href="/admin/product/edit?id=<%=items[i].product_id%>"
                      class="btn btn-primary px-4">Edit</a>
                      </td>
                      <td>
                    <button type="button" style="background-color: rgb(122, 52, 52);" onclick="deleteProduct('<%=items[i].product_id%>')"  class="btn text-light">Delete</button>
                  </td>
                </tr>
                
                
        
                <%}%>
            </table>

        </div>


      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
<script>
  new DataTable('#dtBasicExample',{
    "lengthMenu": [5, 10, 25, 50], // Change the options as per your requirement
        "pageLength": 5, 
  }
);
</script>
                  <%- include ('../layouts/adminfooter.ejs') %>