<%- include ('../layouts/adminheader.ejs') %>
<div class="container p-3 mb-5 bg-light rounded col-lg-8 col-8 mt-5 d-flex">
  <div class="container py-3">
    <form action="/admin/edit-user" method="post">
      <label style="text-align: center">Access: </label>
      <select name="access">
        <option value="true" <% if(user.access){ %>
          selected <% } %> >true
        </option>
        <option value="false" <% if(!user.access){ %>
          selected <% } %> >false
        </option>
      </select>
      <br />
      <input type="hidden" name="_id" value="<%= user._id  %>" />
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  <div class="container bg-white p-4 mb-4">
    <h3>Username:</h3>
    <br />
    <p><%=user.username%></p>
    <br />
    <h3>Email:</h3>
    <br />
    <p><%=user.email%></p>
  </div>
</div>
<%- include ('../layouts/adminfooter.ejs') %>
