<%- include ('./layouts/homeheader.ejs') %>
</div>
</div>
<div id="header-carousel" class="carousel slide px-xl-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="<%=banner[0].bannerImage%>" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-light mb-3"><%=banner[0].description%></h4>
                    <h3 class="display-4 text-white mb-4"><%=banner[0].title%></h3>
                    <a href="<%=banner[0].url%>" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <%for(i=1;i<banner.length;i++){%>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="<%=banner[i].bannerImage%>" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-light mb-3"><%=banner[i].description%></h4>
                    <h3 class="display-4 text-white mb-4"><%=banner[i].title%></h3>
                    <a href="<%=banner[i].url%>" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
</div>
<div class="container">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            
            <%for(i=0;i<cat.length;i++){%>
                <%k=i%>
                <%if(cat[i]){%> 
                    <a class="btn btn-block btn-primary rounded active fs-6 overflow-hidden mb-3" href="/shop?name=<%=cat[i].name%>"><%=cat[i].name%></a>
                <%if(cat[i].sub.length){%>
                    

                      
                    <%for(j=0;j<3;j++){%>
                        <%if(productValue[k]){%>
                            
                                
                                        <%for(p of products){%>
                                            <%if(cat[i].name==p.category&&cat[i].sub[j]==p.subcategory){%>
                                                <div class="col-lg-4 pb-1 overflow-hidden">
                                                <div class="cat-item d-flex flex-column border mb-4 overflow-hidden" >
                                                <a href="/shop?name=<%=cat[i].name%>&sub=<%=cat[i].name%>|<%=cat[i].sub[j]%>" class="overflow-hidden position-relative p-xl-4 p-3">
                                        <img class="img-fluid" src="<%=p.productImages[0]%>" >
                                    </a>
                                    <a href="/shop?name=<%=cat[i].name%>&sub=<%=cat[i].sub[j]%>" class="btn btn-block btn-tranparent p-0 m-0 mb-3 overflow-hidden">
                                    <h6 class="font-weight-semi-bold m-0 text-center btn text-dark"><%=cat[i].sub[j]%></h6>
                                </a>

                                </div>
                            </div>
                                        <%break}%>
                                        <%}%>
                                   
                                   
                                
                            
                            <%}%>
                    <%}%>
                    <%}%>
                
            <%}%>
            <%}%>

        </div>
    </div>

    </div>
    <!-- Offer End -->



<%-include('./layouts/userfooter.ejs')%>