<%- include ('../layouts/homeheader.ejs') %>
</div>
</div>
</div>
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3"><%=item.category%>/<%=item.subcategory%></h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/shop">Shop</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0"><%=item.productName%></p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-3 pb-5 ml-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active" id="image-container">
                        <img class="w-100 h-100 zoom" src="<%=item.productImages[0]%>" alt="Image" >
                    </div>
                    <%for(i=1;i<item.productImages.length;i++){%>
                    <div class="carousel-item ">
                        <img class="w-100 h-100 zoom" src="<%=item.productImages[i]%>" alt="Image">
                    </div>
                    <%}%>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5 ml-5">
            <h3 class="font-weight-semi-bold"><%=item.productName%></h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
            </div>
            <h3 class="font-weight-semi-bold mb-4"><%=item.price%></h3>
            <p class="mb-4"><%=item.blurb%></p>
            <div class="d-flex mb-3">
                <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
                <form>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="size-1" name="size" value="XS">
                      <label class="custom-control-label" for="size-1">XS</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="size-2" name="size" value="S">
                      <label class="custom-control-label" for="size-2">S</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="size-3" name="size" value="M">
                      <label class="custom-control-label" for="size-3">M</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="size-4" name="size" value="L">
                      <label class="custom-control-label" for="size-4">L</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="size-5" name="size" value="XL">
                      <label class="custom-control-label" for="size-5">XL</label>
                    </div>
                  </form>
            </div>
            <div class="d-flex align-items-center mb-4 pt-2">
                </div>
                <button class="btn btn-primary px-3" id="addTo" onclick="addtocartShop('<%=item._id%>')"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                <button class="btn btn-primary" onclick="addtowishlist('<%=item._id%>')"><i class="fa-solid fa-heart-circle-plus fa-lg"></i></button>
            </div>
     
        </div>
    
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>

                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Reviews (0)</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <%=item.details%>
                   
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mb-4">0 review for "<%=item.productName%>"</h4>
                           
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
    </div>
    <div class="row px-xl-5">
        <%items.forEach(item=>{%>
        
            <div class="col-lg-3 col-md-3 col-sm-4 pb-1 ">
                <div class="card product-item border-0 h-100">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="<%=item.productImages[0]%>" alt="">
                    </div>
    
                    <div class="card-body border-left border-right text-center p-0 pt-3">
                        <p class="text-dark" style="font-size: 1.2vw;"><%=item.productName%></p>
    
                            <p class="text-dark" style="font-size: 1.2vw;">&#x20B9;<%=item.price%></h6><h6 class="text-muted ml-2"></p>
                    </div>
                    <div class="card-footer d-flex justify-content-center bg-light border">
                        <a href="/product?id=<%=item._id%>" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View</a>
                    </div>
                </div>
            </div>
            <%})%>
    </div>
</div>
<%- include ('../layouts/userfooter.ejs') %>