<%- include ('../layouts/homeheader.ejs') %>
</div>
</div>
</div>
  <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
      <div class="d-inline-flex">
        <p class="m-0"><a href="">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Shop Detail</p>
      </div>
    </div>
  </div>


  <div class="container-fluid pt-5">
    <div class="row px-xl-5">
      <!-- Shop Sidebar Start -->
      <div class="col-lg-3 col-md-12 py-4 border">
        <!-- filter start -->
        <form action="">
          <!-- Price Start-->
          <div class="border-bottom mb-4 pb-4">
            <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
            <div class="price-range col-8">
              <input type="text" id="priceRange"  class="slider-custom" name="price" />
            </div>
          </div>
          <!-- Price End -->

          <!-- Color Start -->
          <div class="border-bottom mb-4 pb-4">
            <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-1" name="color"
                value="Black">
              <label class="custom-control-label" for="color-1">Black</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-2" name="color"
                value="White">
              <label class="custom-control-label" for="color-2">White</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-3" name="color" value="Red">
              <label class="custom-control-label" for="color-3">Red</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-4" name="color" value="Blue">
              <label class="custom-control-label" for="color-4">Blue</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-4" name="color"
                value="Yellow">
              <label class="custom-control-label" for="color-4">Yellow</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input color-checkbox" id="color-4" name="color"
                value="Green">
              <label class="custom-control-label" for="color-4">Green</label>
            </div>
          </div>
          <!-- Color End -->

          <!-- Size Start -->
          <div class="mb-5">
            <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input size-checkbox" id="size-1" name="size" value="xs">
              <label class="custom-control-label" for="size-1">XS</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input size-checkbox" id="size-3" name="size" value="s">
              <label class="custom-control-label" for="size-3">S</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input size-checkbox" id="size-3" name="size" value="m">
              <label class="custom-control-label" for="size-3">M</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input size-checkbox" id="size-4" name="size" value="l">
              <label class="custom-control-label" for="size-4">L</label>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
              <input type="checkbox" class="custom-control-input size-checkbox" id="size-5" name="size" value="xl">
              <label class="custom-control-label" for="size-5">XL</label>
            </div>

          </div>
          <!-- Size End -->
          <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
        <!-- filter end -->
      </div>
      <!-- Shop Sidebar End -->

      <!-- Shop Product Start -->
      <div class="col-lg-9 col-md-12">
        <div class="row pb-3  ml-2">
          <div class="col-12 pb-1">
            <div class="d-flex align-items-center justify-content-between mb-4">
            </div>
          </div>

          <%items.forEach(item=>{%>
            <div class="col-lg-3 col-md-3 col-sm-4 pb-1 ">
              <div class="card product-item border-0 h-100">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                  <img class="img-fluid w-100" src="<%=item.productImages[0]%>" alt="">
                </div>

                <div class="card-body border-left border-right text-center p-0 pt-3">
                  <p class="text-dark" style="font-size: 1.2 vw;">
                    <%=item.productName%>
                  </p>

                  <p class="text-dark" style="font-size: 1.2vw;">&#x20B9;<%=item.price%>
                      </h6>
                      <h6 class="text-muted ml-2">
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-center bg-light border">
                  <a href="/product?id=<%=item._id%>" class="btn btn-sm text-dark p-0"><i
                      class="fas fa-eye text-primary mr-1"></i>View details</a>
                </div>
              </div>
            </div>
            <%})%>
            <!-- Shop Product Start -->

              
        </div>

        <!-- Pagination Start -->
        <div class="col-12 pb-1">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <% if (page> 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/shop?page=<%= page - 1 %>">&laquo; Previous</a>
                </li>
                <% } %>

                  <% for (let i=1; i <=totalPages; i++) { %>
                    <% if (i===page) { %>
                      <li class="page-item active">
                        <a class="page-link" href="/shop?page=<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/shop?page=<%= i %>">
                            <%= i %>
                          </a>
                        </li>
                        <% } %>
                          <% } %>

                            <% if (page < totalPages) { %>
                              <li class="page-item">
                                <a class="page-link" href="/shop?page=<%= page + 1 %>">Next &raquo;</a>
                              </li>
                              <% } %>
            </ul>
          </nav>
          </nav>
        </div>
        <!-- Pagination end -->

      </div>
      <!-- Shop Product End -->
    </div>
  </div>
  <!-- Shop End -->
  </div>
  <script>
    const priceRangeInput = document.getElementById("priceRange");
    const selectedRange = document.getElementById("selectedRange");
  
    $(priceRangeInput).ionRangeSlider({
      type: "double",
      min: 100,
      max: 5000,
      from: 100,
      to: 5000,
      step: 100,
      skin:"square",
      hide_min_max: true,
      hide_from_to: false,
      onStart: updatePriceRange,
      onChange: updatePriceRange,
      onFinish: updatePriceRange,
    });
  
    function updatePriceRange(data) {
      const minPrice = data.from;
      const maxPrice = data.to;
    }
  </script>
  <%- include ('../layouts/userfooter.ejs') %>